
.navi {

  padding: 10px;

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    a:hover {
      text-decoration: none;
    }

    &-input {
      max-width: 200px;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
}
