.innerGallery{
  width: 100vw;
  height: calc(100vh - 84px);
  margin: 0 auto;
}

.navigation{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  .btn{
    display: flex;
    svg{
      margin: auto 10px auto 0;
    }
  }
  input{
    max-width: 200px;
  }
}
