<div>
  <app-page-banner [pageName]="region" [bgImg]="image"></app-page-banner>
  <section class="container">
    <div class="navi">
      <div class="navi__search">

        <a [routerLink]="['/ukr']">
          <button class="btn btn-light d-flex"><span class="material-icons">navigate_before</span> Назад</button>
        </a>

        <input
          type="search"
          placeholder="Пошук..."
          class="form-control navi__search-input"
          [(ngModel)]="search"
          (ngModelChange)="setQueryParam(1)">
      </div>
      <div class="navi__pagination">
        <button
          class="btn btn-light d-flex"
          (click)="setQueryParam(currentPage - 1)"
          [disabled]="currentPage == 1"
        ><span class="material-icons">navigate_before</span> Попередня </button>
        <button
          class="btn btn-light d-flex"
          (click)="setQueryParam(currentPage + 1)"
          [disabled]="lastPage"
        ><span class="material-icons">navigate_next</span> Наступна</button>
      </div>

    </div>

    <div class="container">
      <div class="row mt-3" *ngIf="items$ | async as items; else loading">
        <p class="text-center" *ngIf="!items.length">Тут ще нічого нема :)</p>
        <div *ngFor="let item of items" class="col-md-6 col-lg-4">
          <app-item-card [brickItem]="item"></app-item-card>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
