
<div *ngIf="form; else loading">

  <h1 class="text-dark pb-2">Редагування</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <label for="name" class="text-dark">Назва</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Введіть назву..">
    <div *ngIf="form.get('name').touched && form.get('name').invalid">
      <small *ngIf="form.get('name').errors.required" class="text-danger">Поле не може бути порожнім</small>
    </div>

    <div>

      <div class="mainPhoto">
        <p>Основне фото</p>
        <img [src]="imgSrcMain" alt="Main Photo">
      </div>

      <div class="thumbPhoto">
        <p>Піктограма</p>
        <img [src]="imgSrcThumbnails" alt="Thumbnail">
      </div>

    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="withDescription">
      <label class="custom-control-label" for="customCheck1">Сторінка опису</label>
    </div>

    <div *ngIf="form.get('withDescription').value">
      <div  class="bg-light m-2">
        <quill-editor formControlName="description"></quill-editor>
      </div>
    </div>

    <button class="btn btn-primary mt-2" type="submit" [disabled]="form.invalid || submited">Зберегти Редагування</button>
  </form>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
