.map{
  position: relative;
  margin: 40px auto;
  width: 787px;
  height: 556px;
}

.europeMap{
  display: block;
  width: 787px;
  height: 556px;
}

/*Europe*/
.austria{
  top: 358px;
  left: 291px;
}

.bilorus{
  top: 258px;
  left: 420px;
}

.czech{
  top: 324px;
  left: 300px;
}


.england{
  top: 258px;
  left: 124px;
}

.finland{
  top: 140px;
  left: 380px;
}

.germany{
  top: 290px;
  left: 238px;
}

.hungary{
  top: 362px;
  left: 342px;
}


.litva{
  top: 242px;
  left: 380px;
}


.estonia{
  top: 198px;
  left: 400px;
}

.poland{
  top: 280px;
  left: 332px;
}

.rusia{
  top: 218px;
  left: 500px;
}

.slovakia{
  top: 340px;
  left: 350px;
}

.spain{
  top: 404px;
  left: 52px;
}

.sweden{
  top: 189px;
  left: 296px;
}

.japan{
  top: 266px;
  left: 712px;
}
