.map{
  position: relative;
  margin: 40px auto;
  width: 787px;
  height: 556px;
}

.map img:not(.europeMap) {
  width: 60px;
}

.europeMap{
  display: block;
  width: 787px;
  height: 556px;
}

/*Europe*/
.Austria{
  top: 358px;
  left: 291px;
}

.Belarus{
  top: 258px;
  left: 420px;
}

.Czech{
  top: 324px;
  left: 300px;
}


.England{
  top: 258px;
  left: 124px;
}

.Finland{
  top: 140px;
  left: 380px;
}

.Germany{
  top: 290px;
  left: 238px;
}

.Hungary{
  top: 362px;
  left: 342px;
}


.Litva{
  top: 242px;
  left: 380px;
}


.Estonia{
  top: 198px;
  left: 400px;
}

.Poland{
  top: 280px;
  left: 332px;
}

.rusia{
  top: 218px;
  left: 500px;
}

.Slovakia{
  top: 340px;
  left: 350px;
}

.Spain{
  top: 404px;
  left: 52px;
}

.Sweden{
  top: 189px;
  left: 296px;
}

.Japan{
  top: 266px;
  left: 712px;
}
