.map{
  position: relative;
  margin: 0 auto;
  width: 787px;
  height: 523px;
}

.ukrImage{
  display: block;
  margin: 40px auto;
  width: 787px;
  height: 523px;
}

/*Ukraine*/
.lviv{
  top: 100px;
  left: 32px;
}

.lutsk{
  top: 18px;
  left: 90px;
}

.rivne{
  top: 22px;
  left: 146px;
}

.ternopil{
  top: 132px;
  left: 123px;
}

.if{
  top: 172px;
  left: 68px;
}

.uzgorod{
  top: 192px;
  left: 2px;
}

.chernivci{
  top: 236px;
  left: 120px;
}

.cherkasy{
  top: 144px;
  left: 332px;
  z-index: 1;
}

.chmeln{
  top: 114px;
  left: 182px;
}

.sumy{
  top: 0px;
  left: 470px;
}

.zitomyr{
  top: 48px;
  left: 232px;
}


.dnipro{
  top: 208px;
  left: 476px;
}

.donetsk{
  top: 196px;
  left: 636px;
}

.kyiv{
  top: 58px;
  left: 320px;
}


.odesa{
  top: 272px;
  left: 260px;
}

.vinnitsa{
  top: 164px;
  left: 234px;
}

.zapor{
  top: 275px;
  left: 534px;
}

.mykolaiv{
  top: 272px;
  left: 356px;
}

.poltava{
  top: 120px;
  left: 434px;
}


.harkiv{
  top: 118px;
  left: 552px;
}

.herson{
  top: 314px;
  left: 426px;
}

.kropiv{
  top: 216px;
  left: 336px;
}

.chernigiv{
  top: 0px;
  left: 368px;
}

.krym{
  top: 400px;
  left: 458px;
}

.lugansk{
  top: 136px;
  left: 682px;
}
